.page-header {
  margin: 0;
  position: relative;
}
.page-header h1 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 32px;
  line-height: 1;
}
.page-header h1 small {
  vertical-align: baseline;
  font-size: 0.4em;
}
.page-header #resetBtn {
  float: right;
}
.person-info {
  border: 1px solid #000;
  padding: 5px;
}
.person-info .avatar img {
  overflow: hidden;
}
.person-info .head-box .avatar img {
  margin: 0 auto;
  border: 4px solid #ccc;
}
.person-info .head-box h4 {
  text-align: center;
  background: #ccc;
  font-size: 16px;
  padding: 3px 0;
}
.person-info .status {
  margin-bottom: 10px;
}
.person-info .status b {
  margin-right: 10px;
}
.person-info .status .badge {
  background-color: #39e241;
}
.person-info .status .badge.health {
  background-color: #39e241;
}
.person-info .status .badge.energy {
  background-color: #f1c834;
}
.person-info .control-panel ul {
  list-style: none;
}
.person-info .control-panel ul li {
  list-style: none;
  background-color: #eee;
  padding: 5px 10px;
}
.person-info .control-panel button {
  margin: 0 5px;
}
.enemy-info .enemy-log {
  background-color: #ffe9b9;
}
.enemy-info .enemy-speak {
  background-color: #eee;
  color: #af670e;
}
.player-info {
  padding: 5px;
}
.display-container {
  height: 20vh;
  min-height: 100px;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 10px;
  position: relative;
}
.display-container .main-info {
  height: 100%;
  overflow: auto;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(150, 150, 150, 0.1);
}
.display-container .main-info p {
  font-size: 1em;
  text-indent: 1em;
  line-height: 1;
  margin-bottom: 5px;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  background: transparent no-repeat center center;
  background-size: cover;
  z-index: -1;
}
hr {
  margin: 5px 0;
}
@media (max-width: 768px) {
  .panel {
    margin-bottom: 10px;
  }
  .well {
    margin-bottom: 10px;
  }
  .page-header h1 {
    font-size: 24px;
  }
  .page-header #resetBtn {
    padding: 3px 8px;
  }
  .person-info .head-box .avatar img {
    margin: 0 auto;
    border: 4px solid #ccc;
  }
  .person-info .head-box h4 {
    text-align: center;
    background: #ccc;
    font-size: 16px;
    padding: 3px 0;
    margin: 3px 0;
  }
}
